/* You can add global styles to this file, and also import other style files */
h1 {
	font-size: 1.3rem;
    font-weight: bold;
}
body {
	font-family: "Open Sans";
}
img {
	height: 144px;
	width: 247px; 
}
 
#header-img	{
	background-image: url('assets/santorini.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 710px;
	/*image padding bottom = h/w * 100 710/1899 = 37.1% */
	padding-bottom: 37.1%; 
}

.album .container {
	padding: 30px 30px 0 30px;
	position: relative;
	background-color: white;
}
.btn {
	background-color: #a0a0a0;
	color: white;
}
.card {
	background-color: transparent;
	border: none;
}
.card img {
	height: 9rem;
}
.card-body {
	padding: .5rem;
}
.card-img-top {
	display: block;
	height: 225px; 
	width: 100%; 
}
.centered {
	width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.form-control {
	background-color: #535353;
	border: 1px solid black;
}
.navbar-dark .navbar-nav .nav-link {
	color: white;
}
.nav-item {
	padding: 0 10px;
}
.raised {
	background-color: white;
	bottom: 30px;
	padding-left: 30px;
	padding-right: 30px;
	position: relative;
}
.video-section {
	font-size: 1.3rem;
	padding-bottom: 30px
}